name: autobuild
on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [Ubuntu-latest, windows-latest, macos-latest]
            fail-fast: false
        env:
            OLD_REF: ${{ github.event.before }}
            ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: conda-incubator/setup-miniconda@v3.1.0
              with:
                  miniconda-version: "latest"
            - run: conda info
            - run: bash -el auto-build-from-push.sh

